@model IEnumerable<GrupoCorsal.Models.Cotizacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_cotizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produto_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apertura_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comision_asesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_contratacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_cotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apertura_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comision_asesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_contratacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
